
@font-face {
    font-family: vag;
    src: url(../fonts/vag.ttf);
}



	.navbar-right {
		a {
		color: #333;
		}
  		.active {
  		  font-weight:900;
  		}
  	}


	@media (min-width: 768px) {
	.navbar-right {
	    float: right!important;
	    margin-right: 20px;
	}
	}

.navbar {
	border-radius:3px;
	border-top-left-radius:0;
	border-top-right-radius:0;
	
}

.navbar-default	{
	
	.navbar-brand {
		font-family: vag, 'Varela Round';
		font-size: 22px;
		color: #444;
	}
}

.navbar-default {
		.navbar-nav > {
			li > {
				 a {
    				color: #333;
    				font-family: 'Helvetica', sans-serif;
    				}

    				a:hover {
    					background: rgba(66,46, 92, 0.3);
    					border-radius: 2px;

    				}	
    			}
    	}	
}	

.footer {
	color: #ccc;
	text-align: center;
	position:relative;
	bottom: 0px;
	margin-bottom: 5px;
	font-family: 'Helvetica Neue', sans-serif;

	a {
		color: #eee;
	}

	a:hover {
		color: #ccc;
		text-decoration:none;
	}

	i {
		color: crimson;
		font-size: 13px;
	}
}	

.list-group-item {
	font-family: 'Helvetica Neue', sans-serif;
}

html, body {
  height: 100%;
}
.container {
  min-height: 100%
}
.container:after {
  content: "";
  display: block;
}
.footer{
margin-top: 20px;
  height: 50px; 
  padding-right: 15px;
  padding-left:15px;
  padding-bottom: 5px;
}
		


