.image-detail {
	 font-family: 'Helvetica Neue', sans-serif;

	.panel-default {
		background: rgba(34, 34, 34, 0.75);
	}

	.panel-body {
		text-align:center;

	}

	.detail-body {
		min-height:10rem;
	}

	img {
		max-width: 60%;
		height: auto;
		vertical-align:middle;
	}

	video {
		max-width:100%;
		width: 60%;
		height:auto;

	}

	.panel-heading {

	h3, h4, h5 {
	padding:1px;
	
	}

	h3 {
		margin:0;
		padding: 5px
	}
	}


}

.comment-box {
	
	background: #eee;
	color: #222;

	}

.badge {
	padding: 4px 0px;
	width: 34px;
    
    background: #2E5A5C
}

.commentlist {
	background: #222;
}

@media(max-width:458px) {
	.image-detail {
 		img, video {
 			max-width:100%;
 		}

 		video {
 			width:100%;
 			height:auto;
 		}

 		.detail-body {
 			min-height: auto;
 		}
 	}
}
