@import 'mixins';

html {
    height: 100%;
}
body {
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
body {
 

 @include bg-gradient-t2b(#422E5C, #2E5A5C);
}


.image-preview {
  display:inline-block;
  position:relative;
  margin:5px;
   border: 2px solid #aaa;

  .inset {
    position:absolute;
    bottom: 0px;
    padding:6px;
    left:0px;
    width: 100%;
    background-color: black;
    text-align: center;
    opacity: 0.8;
    color: white;
    @include transition(all .3s ease);

  }

  .imageTitle {
    padding-top: 3px;
  }

 .glyphicon-thumbs-up {
    margin-left:10px;
  }
  .glyphicon-arrow-down {
    margin-left: 4px;
  }


  .glyphicon-play  {
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    opacity:.5;
    color:white;
  }

  img {
    height: 200px;
    width: 200px;
    display:inline-block;
    object-fit:cover;
    -o-object-fit:cover;

  }
}

.image-preview:hover {
  border: 2px solid #2287F2;
}

video {
  height:200px;
  width:200px;
  vertical-align: middle;
  background-color: black;
}

@media(max-width:458px) {
  .container {
  margin: 0;
  }
  .image-preview img, video {
    height:150px;
    width:150px;
  }

  .topic {
    padding-top: 20px;
  }

}
