.image-preview {
  display:inline-block;
  position:relative;

  .inset {
    position:absolute;
    bottom: 0px;
    left:0px;
    width: 100%;
    background-color: black;
    text-align: center;
    opacity: 0.8;
    color: white;
  }

  .glyphicon {
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    opacity:.5;
    color:white;
  }

  img {
    height: 220px;
    width: 220px;
    display:inline-block;
  }
}

video {
  height:220px;
  width:220px;
  vertical-align: middle;
  background-color: black;
}
